@model RequestViewModel_6
@if (Model.MilitaryEquipmentsInMilitaryBases != null)
{
    <table class="table table-dark table-bordered align-items-center">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Назва</th>
                <th class="text-center" scope="col">Категорія</th>
                <th class="text-center" scope="col">Вид</th>
                <th class="text-center" scope="col">Кількість</th>
                <th class="text-center" scope="col">Місце дислокації</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= Model.MilitaryEquipmentsInMilitaryBases.Count(); i++)
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-center">@Model.MilitaryEquipmentsInMilitaryBases.ElementAt(i-1).MilitaryEquipments.Name</td>
                    <td class="text-center">@Model.MilitaryEquipmentsInMilitaryBases.ElementAt(i-1).MilitaryEquipments.CategoryOfMilitaryEquipment.Name</td>
                    <td class="text-center">@Model.MilitaryEquipmentsInMilitaryBases.ElementAt(i-1).MilitaryEquipments.KindOfMilitaryEquipment.Name</td>
                    <td class="text-center">@Model.MilitaryEquipmentsInMilitaryBases.ElementAt(i-1).Amount</td>
                    <td class="text-center">В\ч @Model.MilitaryEquipmentsInMilitaryBases.ElementAt(i-1).MilitaryBase.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

    <h1 class="card-title text-center">@ViewBag.Head</h1>

    <form method="get" asp-controller="Home" asp-action="Request_6">
        <div style="display:flex; align-items: center; flex-wrap">

            <label asp-for="CategoryOfMilitaryEquipmentId">Категорія озброєння</label>
            <div class="form-group col-md-2 m-2">
                <select asp-for="CategoryOfMilitaryEquipmentId" class="form-control select">
                    <option selected>Всі...</option>
                    @foreach (var item in Model.CategoriesOfMilitaryEquipment)
                    {
                        <option value="@item?.Id">@item?.Name</option>
                    }
                </select>
            </div>
            <label asp-for="KindOfMilitaryEquipmentID">Вид озброєння</label>
            <div class="form-group col-md-2 m-2">
                <select asp-for="KindOfMilitaryEquipmentID" class="form-control select">
                    <option selected>Всі...</option>
                    @foreach (var item in Model.KindsOfMilitaryEquipment)
                    {
                        <option value="@item?.Id">@item?.Name</option>
                    }
                </select>
            </div>
            <label asp-for="responce">Підрозділи</label>
            <div class="form-group col-md-2 m-2">
                <select asp-for="responce" class="form-control select">
                    <option selected>Всі...</option>
                    <optgroup label="Військовий округ">
                        <option disabled>Західний військовий округ</option>
                    </optgroup>
                    <optgroup label="Армія">
                        @foreach (var item in Model.PartsOfMilitaryDistricts.Armies)
                        {
                            <option value="@item?.Name | @item?.Id">
                                @item?.Name
                            </option>
                        }
                    </optgroup>
                    <optgroup label="Корпус">
                        @foreach (var item in Model.PartsOfMilitaryDistricts.Corps)
                        {
                            <option value="@item?.Name | @item?.Id">
                                @item?.Name
                            </option>
                        }
                    </optgroup>
                    <optgroup label="Дивізія">
                        @foreach (var item in Model.PartsOfMilitaryDistricts.Divisions)
                        {
                            <option value="@item?.Name | @item?.Id">
                                @item?.Name
                            </option>
                        }
                    </optgroup>
                    <optgroup label="Військова частина">
                        @foreach (var item in Model.PartsOfMilitaryDistricts.MilitaryBases)
                        {
                            <option value="ВЧ @item?.Name | @item?.Id">
                                @item?.Name
                            </option>
                        }
                    </optgroup>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Запит</button>
        </div>
    </form>
}